<%- include('../header.ejs')  %>


<h1 class="mt-5">Display Courses</h1>

<div class="container mt-5">
    <table class="table table-bordered">
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>status</th>
            <th>comment</th>
            <th>Action</th>
            
        </tr>
        <% i=1 %>
        <% data.forEach(data =>{ %>

            <tr>
                <td><%= i++ %></td>
                <td><%= data.name %></td>
                <td><%= data.email %></td>
                <td><%= data.phone %></td>
                <td><%= data.status %></td>
                <td><%= data.comment %></td>
                <td>
                    <a href="/view/<%= data._id %>" class="btn btn-info">view</a>
                    <a href="/edit/<%= data._id %>" class="btn btn-success">edit</a>
                    <a href="/delete/<%= data._id %>" class="btn btn-danger">delete</a>
                    
                </td>
                
            </tr>
            <% })%>
    </table>
</div>





<%- include('../footer.ejs')  %>
